LOCAL_TEST_EMAIL_1=test1@gmail.com
LOCAL_TEST_EMAIL_2=test2@gmail.com
LOCAL_TEST_EMAIL_3=test3@gmail.com

STAGING_TEST_EMAIL_1=prastogi34@gmail.com
STAGING_TEST_EMAIL_2=prtk6592@gmail.com
STAGING_TEST_EMAIL_3=p.rastogi@outlook.com

PARTNER_TEST_LINK_BASE_URL=https://ramp2swap.com/r
PARTNER_TEST_REFERENCE_ISO=2026-03-28T12:00:00.000Z
